# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-deps
.pub-cache/
.idea/
*.iml
android/.gradle/
android/app/*keystore*
android/local.properties
*.lock
*.log
.DS_Store
